<!doctype html>
<html>
<body>
<form method="post">
  <input name="name" value="{{ packer.name if packer else '' }}">
  <input name="arrival_date" type="date" value="{{ packer.arrival_date if packer else '' }}">
  <input name="departure_date" type="date" value="{{ packer.departure_date if packer else '' }}">
  <input name="tracking_start_date" type="date" value="{{ packer.tracking_start_date if packer else '' }}">
  <input name="tracking_end_date" type="date" value="{{ packer.tracking_end_date if packer else '' }}">
  <button type="submit">Save</button>
</form>
</body>
</html>
